{% extends "layout.html" %}
{% block content %}
<div style="max-width: 800px; margin: 0 auto;">
    <h1>歡迎來到我們的多功能網站！</h1>

    <p><strong>關於這個網站：</strong> 這個網站的目的是為了提供有關網絡攻擊和防禦的基礎知識。我們提供了一個簡單的介面，您可以在其中探索各種攻擊手法以及相應的緩解方法。這不僅有助於我個人的學習，還希望能夠幫助其他學生和任何對網絡安全感興趣的人。</p>

    <p><strong>為什麼這很重要？</strong> 網路安全是現今數位化世界的關鍵部分。不論您是一名學生、一名專業人士還是一位普通網路的用戶，了解如何保護您的數據和隱私都至關重要。透過這個網站，我希望能夠提高大家的網路安全意識，使每個人可以更安全地使用互聯網。</p>

    <p><strong>了解資安框架的優點：</strong> 資安框架是一種組織和管理資訊安全的方法，它可以幫助我們更好地理解和應對不同類型的威脅。使用資安框架有以下優點：</p>
    <ul>
        <li>組織性和結構性： 資安框架提供了有結構組織的方法，幫助我們確保資訊安全措施是系統性和一致的。</li>
        <li>風險管理： 它有助於識別和評估風險，以便採取適當的措施來降低風險。</li>
        <li>最佳實踐： 資安框架通常包括最佳實踐，這些實踐是基於業界的經驗和經過驗證的方法。</li>
    </ul>

    <p><strong>使用MITRE ATT&CK和Mitigations的原因：</strong> 我們選擇使用MITRE ATT&CK（Adversarial Tactics, Techniques, and Common Knowledge）框架以及相應的Mitigations 來完成這個網站工具，是因為它們提供了詳細的攻擊技巧和防禦措施的矩陣圖，可以幫助我們達到幾個目標：</p>
    <ul>
        <li>深入了解攻擊技巧： MITRE ATT&CK提供了對各種攻擊技巧的深入描述，這有助於我們了解攻擊者的方法和策略。</li>
        <li>提供對抗措施： Mitigations部分提供了針對每個攻擊技巧的建議防禦措施，這有助於我們識別和實施適當的安全措施來保護系統。</li>
    </ul>

    <p>我們相信，通過對資安框架的了解和 MITRE 框架的應用，我們能夠提供更全面、可靠和有用的資訊，以幫助您更好地了解網路安全並保護自己的系統。</p>
</div>
{% endblock content%}